body {
    font: 100%/1.5 Arial, Hevletica, san-serif;
    margin: 0;
}

.page__categories {
    margin-top: 130px;
}

hr {
    width: 27%;
    height: 2px;
    color: #00E1FF; 
    background-color: #00E1FF;
    border: none;
    margin-bottom: 15px; 
}

.categories__inner {
    text-align: center;
}

.categories__img {
    max-width: 60px;
    max-height: 50px;
    margin: 0 auto;
}

.categories__caption {
    text-transform: uppercase;
    margin-top: 50px;
}

.categories__text {
    font-size: 13px;
}