h3 {
    text-align: left;
    color: #868887;

}

p {
    text-align: center;
    font-size: 21px;
}

img {
    display: block;
    margin: 0 auto;

}

.text-info,
.contacts {
    text-align: left;
}